@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(0, 100%, 90%);
  transition: 0.4s;
}

h1,h2,ul {
  font-weight: bold;
  color: white;
}

p,span{
  color: white;
}

i{
  color: grey;
  background-color: none;
}

i:hover{
  color:  hsl(0, 20%, 50%);
}

a:hover {
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
}
